<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <h2>Contact Form</h2>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <!-- Display form errors -->
    {% for message in form.name.errors %}
    <div>{{ message }}</div>
    {% endfor %}

    <!-- Form -->
    <form action="{{ url_for('contact') }}" method="post">
        <fieldset>
            <legend>Contact Form</legend>
            {{ form.hidden_tag() }}

            <div style="font-size:20px; font-weight:bold; margin-left: 20px">
                {{ form.name.label }}<br>
                {{ form.name }}<br>

                {{ form.gender.label }} {{ form.gender }}<br>

                {{ form.address.label }}<br>
                {{ form.address }}<br>

                {{ form.email.label }}<br>
                {{ form.email }}<br>

                {{ form.age.label }}<br>
                {{ form.age }}<br>
                
                {{ form.language.label }}<br>
                {{ form.language }}<br>

                {{ form.submit }}
            </div>
        </fieldset>
    </form>
</body>
</html>
