<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src = "{{ url_for('static', filename='script.js') }}">
    </script>
</head>
<body>
    //simple about page
    <h1> About Us </h1>
    <p> We are a group of developers who are passionate about coding and building cool stuff. </p>
    <p> We are always looking for new projects to work on and new people to work with. </p>
    <p> If you have an idea for a project or just want to chat, feel free to reach out to us. </p>
    <p> We are always happy to help and are excited to hear from you. </p>
    <p> We look forward to working with you! </p>
    <p> - The Team </p>
    <button onclick="sayHello()">Click me!</button>
    collect data from a student
    <form action="http://localhost:5001/results" method="post">
        <p>Enter Name:<input type="text" name="name"></p>
        <p>Enter Roll Number:<input type="text" name="roll"></p>
        <p>Physics<input type="text" name="physics"></p>
        <p>Chemistry<input type="text" name="chemistry"></p>

        <p><input type="submit" value="submit"></p>
    </form>
</body>
</html>