<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h3><a href="{{ url_for('show_all') }}">Students - Flask SQLAlchemy Example</a></h3>
    <hr>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h3>Students (<a href="{{ url_for('new') }}">Add Student</a>)</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>PinCode</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.addr }}</td>
                <td>{{ student.city }}</td>
                <td>{{ student.pin }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
